[submodule "rust/tower-related/tower"]
	path = rust/tower-related/tower
	url = https://github.com/tower-rs/tower.git
[submodule "rust/hyper-related/hyper"]
	path = rust/hyper-related/hyper
	url = https://github.com/hyperium/hyper.git
